In [ ]:
"""

@summary:      Various Election Related Datasets
@author:       UngaTheGreat
@group:        CodeTruthOhana
@contact:      UngaTheGreat@protonmail.com
@created:      2022.09.07

"""

In [8]:
import pandas as pd
import numpy as np

### Number of Registered Voters by State 2022

In [16]:
platform = 'https://raw.githubusercontent.com/'
path = 'CodeTruthOhana/elections/main/data/'
file = 'number_of_registered_voters_by_state_2022.csv'

df_voters = pd.read_csv(platform + path + file)

In [17]:
df_voters.head()

        State  totalRegistered       Pop  registeredPerc        asOf
0     Alabama          3628165   5073187          0.7152  2022-03-26
1      Alaska           594733    738023          0.8058  2022-02-01
2     Arizona          4351446   7303398          0.5958  2022-01-01
3    Arkansas          1774596   3030646          0.5856  2021-06-02
4  California         22005243  39995077          0.5502  2022-01-04

<hr>

### US States Ranked by Population 2022

In [14]:
platform = 'https://raw.githubusercontent.com/'
path = 'CodeTruthOhana/elections/main/data/'
file = 'us_states_ranked_by_population_2022.csv'

df_ranked = pd.read_csv(platform + path + file)

In [15]:
df_ranked.head()

,rank,State,Pop,Growth,Pop2021,Pop2010,growthSince2010,Percent,density
0,1,California,39995077,0.0057,39766650,37253956,0.0736,0.1193,256.7424
1,2,Texas,29945493,0.0135,29545499,25145561,0.1909,0.0893,114.6318
2,3,Florida,22085563,0.0125,21811875,18801310,0.1747,0.0659,411.8520
3,4,New York,20365879,0.0041,20283564,19378102,0.0510,0.0607,432.1580
4,5,Pennsylvania,13062764,0.0023,13032732,12702379,0.0284,0.0390,291.9510