In [ ]:
"""

@summary:      Various Election Related Datasets
@author:       UngaTheGreat
@group:        CodeTruthOhana
@contact:      UngaTheGreat@protonmail.com
@created:      2022.09.07

"""

In [1]:
import pandas as pd
import numpy as np

<hr>

### Number of Registered Voters by State 2022

In [2]:
platform = 'https://raw.githubusercontent.com/'
path = 'CodeTruthOhana/elections/main/data/'
file = 'number_of_registered_voters_by_state_2022.csv'

df_voters = pd.read_csv(platform + path + file)

df_voters.head()

        State  totalRegistered       Pop  registeredPerc        asOf
0     Alabama          3628165   5073187          0.7152  2022-03-26
1      Alaska           594733    738023          0.8058  2022-02-01
2     Arizona          4351446   7303398          0.5958  2022-01-01
3    Arkansas          1774596   3030646          0.5856  2021-06-02
4  California         22005243  39995077          0.5502  2022-01-04

<hr>

### US States Ranked by Population 2022

In [3]:
platform = 'https://raw.githubusercontent.com/'
path = 'CodeTruthOhana/elections/main/data/'
file = 'us_states_ranked_by_population_2022.csv'

df_ranked = pd.read_csv(platform + path + file)

df_ranked.head()

,rank,State,Pop,Growth,Pop2021,Pop2010,growthSince2010,Percent,density
0,1,California,39995077,0.0057,39766650,37253956,0.0736,0.1193,256.7424
1,2,Texas,29945493,0.0135,29545499,25145561,0.1909,0.0893,114.6318
2,3,Florida,22085563,0.0125,21811875,18801310,0.1747,0.0659,411.8520
3,4,New York,20365879,0.0041,20283564,19378102,0.0510,0.0607,432.1580
4,5,Pennsylvania,13062764,0.0023,13032732,12702379,0.0284,0.0390,291.9510

<hr>

### Counties in the United States by Population 2022

In [4]:
platform = 'https://raw.githubusercontent.com/'
path = 'CodeTruthOhana/elections/main/data/'
file = 'counties_in_the_united_states_by_population_2022.csv'

df_counties = pd.read_csv(platform + path + file)

df_counties.head()

        State   pop2022  pop2010  GrowthRate
0  California  10053089  9818605      0.0239
1    Illinois   5291715  5194675      0.0187
2       Texas   4858883  4092459      0.1873
3     Arizona   4541258  3817117      0.1897
4  California   3339298  3095313      0.0788

<hr>

### 500 Most Populated Zip Codes

In [5]:
platform = 'https://raw.githubusercontent.com/'
path = 'CodeTruthOhana/elections/main/data/'
file = '500_most_populated_zip_codes.csv'

df_zips = pd.read_csv(platform + path + file)

df_zips.head()

     zip         city       county     pop
0  77494         Katy    Fort Bend  126310
1  77449         Katy       Harris  123157
2  75034       Frisco       Collin  116155
3  90011  Los Angeles  Los Angeles  110750
4  75070     McKinney       Collin  109085